.catalog-preview {

  // varianta de layout old school / naiva
  .layout-css & {
    li {
      margin-bottom: 70px;

      &:last-child {
        margin-bottom: 0;
      }

      @include media-breakpoint-up (lg) {
        margin-bottom: 0;
        float: left;
        width: 27.429467%;
        margin-right: 8.855799%;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  // varianta de layout flex

  .layout-flex & {
    display: flex;
    flex-direction: column;
    gap: 70px;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      gap: 8.855799%;
      justify-content: space-between;
    }
  }

  //varianta de layout grid

  .layout-grid & {
    display: grid;
    gap: 70px;

    @include media-breakpoint-up (lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 8.855799%;
    }
  }
}
