.product-tile {
  text-align: center;

  &-header {
    img {
      max-width: 100%;
      width: 100%;
    }

    .badge-badge-primary {
      position: absolute;
      cursor: pointer;
      opacity: 1;
    }


  }
}
