.header {
  &-secondary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  &-search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;
  }

  &-controls {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &-logo {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    justify-self: center;

    img {
      max-width: 80px;
    }
  }
}
